.gridBox{
   /* border: 1px solid black; */
   display: flex;
   margin: none;
   padding: none;
   width: 100%;
   aspect-ratio: 1 / 1;
   text-align: center;
   outline: 1px solid black;
        outline-offset: -1px;
}


